main.aux
main.aux
main.fdb_latexmk
main.fls
main.lof
main.log
main.lot
main.out
main.synctex.gz
main.toc
main.pdf
main.bbl
main.blg
main.synctex(busy)
review/review.aux
review/review.fls
review/review.out
review/review.log
review/review.fdb_latexmk
review/review.synctex.gz
review/review.toc
review/review.pdf
